<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="paulo" sortOrder="10" translate="label">
            <label>Paulo</label>
        </tab>
        <section id="custom_cart" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Custom Cart Ajax</label>
            <tab>paulo</tab>
            <resource>Paulo_CustomCart::config_paulo_custom_cart</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General Configuration</label>
                <field id="enable" type="select" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
