<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Product\Compare\Add">
        <plugin name="ajax_compare_plugin" type="Paulo\AjaxCompare\Plugin\Controller\Product\Compare\Add"/>
    </type>
    <preference for="Magento\Catalog\Controller\Product\Compare\Remove" type="Paulo\AjaxCompare\Plugin\Controller\Product\Compare\Remove" />
</config>
